<div ng-controller="defaultFullController as FullCtrl">

    <div class="tile tile-full tile-{{FullCtrl.tile.colour}}" >
        <div class="corner" ></div>
        <div class="close" ng-click="FullCtrl.tileClose($event)"></div>
        
        <div class="tile-body"></div>
            <div class="title" title="{{FullCtrl.tile.settings.title}}">
                {{FullCtrl.tile.settings.title | cut:true:50:' ...'}}
            </div>
        <div class="contentpage" ng-bind-html="FullCtrl.tile.settings.htmlSafe"></div>    
        <div class="tile-object">  <!--class="tile-emulate-object"-->
        </div>
        
    </div>
</div>