<div class="corner" ng-show="!tilereadonly"></div>
<div class="check"  ng-show="!tilereadonly" ng-click="TileCtrl.tileEdit($event)"></div>
<div ng-click="TileCtrl.scanQR()">
    <div class="tile-body" style="margin-left: 10%">
        <img src="assets/resources/qr-tiles.png" width="80%" height="80%" alt="qr-code">
    </div>
    <div class="tile-object">  <!--class="tile-emulate-object"-->
        <div class="name">
            {{tile.name}}
        </div>
        <div class="number">
            {{tile.number}}
        </div>
    </div>
</div>