<div class="corner" ng-show="!tilereadonly"></div>
<div class="check"  ng-show="!tilereadonly" ng-click="TileCtrl.tileEdit($event)"></div>
<div ng-click="TileCtrl.tileClick($event)">
    <div class="tile-body" ng-show="tile.settings == null"> 
       <i ng-show="{{tile.icon !== ''}}" class="fa fa-{{tile.icon}} "></i>
    </div>
    <img src="{{tile.settings.thumbnail_url}}" width="100%" ng-show="tile.settings != null" />

    <div class="tile-object">  <!--class="tile-emulate-object"-->
        <div class="name" title="{{tile.name}}">
            {{tile.name | cut:true:50:' ...'}}
        </div>
    </div>
</div>